---

---

@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

body {
  font-family: 'Amiri Quran', serif;
}

p[dir='rtl'] {
  font-family: 'Amiri Quran', serif;
  font-size: 6;
  color: #77216F;
  line-height: 2.0;
}

/* .mermaid {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  display: block;
}

@media screen and (max-width: 768px) {
  .mermaid {
    margin: 10px 0;
    font-size: 14px;
  }
}

.mermaid svg { height: auto; } */
