---

---

@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

/* body {
  font-family: 'Amiri Quran', serif;
} */

p[dir='rtl'] {
  font-family: 'Amiri Quran', serif;
  font-size: 6;
  color: "#77216F";
}